


/*--------------------------navbar-grande------------------------------------------------------------------------------------*/

.monTemplateSpecifiqueId .navbar {
    position: fixed; 
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center; 
    background-color: #465257; 
    border-radius: 25px; 
    width: 95%; 
    height: 60px;
    left: 30px;
    top: 15px;
    transition: transform 0.3s;
    z-index: 1000;
}

.monTemplateSpecifiqueId .search_img {
    width: 40px;
    height: auto;
    margin: 10px;
    margin-top: 25%;
}

.monTemplateSpecifiqueId .search-box {
    width: 150px; 
    margin-right: 22%;
}

.monTemplateSpecifiqueId .search-box input {
    border-radius: 15px; 
    height: 25px;
    border: 0px;
    padding: 5px 10px; 
    width: 100%;
}

.monTemplateSpecifiqueId .menu1 {   
    display: block;  
}

@media (max-width: 2000px) {
    .monTemplateSpecifiqueId .menu2 {   
        display: none;  
    }

    .monTemplateSpecifiqueId .page{
        position: absolute;
        right: 6%;
        top: 22px;
        }

    .monTemplateSpecifiqueId .like_img {
        position: absolute;
        width: 30px;
        top: 17px;
        right: 2%;
        
    }
        
    .monTemplateSpecifiqueId .navbar a {
        color: #fff; 
        padding: 0 10px;
        text-decoration: none;
    }
        
    .monTemplateSpecifiqueId .navbar a:hover {
        transition: 0.3s;
        color: #7fb7f8; 
    }

    .monTemplateSpecifiqueId .logo {
        position: absolute;
        left: 43%;
        top: -6px;
        text-decoration: none;
    }
    
    .monTemplateSpecifiqueId .logo img{
        max-width: 150px;
    }
    
    .monTemplateSpecifiqueId .logo:hover {
        transform: scale(1.1);
    }
    
}

@media (max-width: 1300px) {
    .monTemplateSpecifiqueId .menu1{
        display: none;
    }
    .monTemplateSpecifiqueId .menu2{
        display: block;
    }
    
    .monTemplateSpecifiqueId .logo {
        position: absolute;
        left: 50%;
        top: -10px;
        text-decoration: none;
    }
    
    .monTemplateSpecifiqueId .logo img{
        max-width: 75px;
    }
    
    .monTemplateSpecifiqueId .logo:hover {
        transform: scale(1.1);
    }

    .monTemplateSpecifiqueId .hamburger-menu {  
        position: absolute;
        left: 92%;
        top: 0%;
        top: 7px;
        z-index: 1001; 
    }
    
    .monTemplateSpecifiqueId .hamburger-menu img{
        width: 45px;
    }
    
    .monTemplateSpecifiqueId .navbarGR a {
        color: #fff; 
        padding: 0 10px;
        text-decoration: none;
    }
    
    .monTemplateSpecifiqueId .menu {
        display: none;
        position: fixed; 
        margin-top: 35px; 
        right: 4.6%; 
        left: auto;
        width: 200px; 
        height: 413px; 
        background-color: #ffffff; 
        z-index: 1000; 
        text-align: center; 
        border-radius: 10px;
    }
    
    .monTemplateSpecifiqueId .menu a {
        display: block; 
        padding: 20px; 
        border-bottom: 1px solid #ddd; 
        color: #333; 
        text-decoration: none; 
        border-radius: 10px;
    }
    
    .monTemplateSpecifiqueId .menu a:hover {
        background-color: #cecece; 
        border-radius: 10px;
        color: #333; 
    }
    
    .monTemplateSpecifiqueId .menu.show {
        display: block;
    }

    
}

@media (max-width: 800px) {
    .monTemplateSpecifiqueId .menu1{
        display: none;
    }
    .monTemplateSpecifiqueId .menu2{
        display: block;
    }

    .monTemplateSpecifiqueId .navbar {
        position: absolute;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center; 
        background-color: #465257; 
        border-radius: 25px; 
        width: 95%; 
        height: 50px;
        left: 10px;
        top: 15px;
        transition: transform 0.3s;
        z-index: 1000;
    }
    
    .monTemplateSpecifiqueId .search_img {
        width: 30px;
        margin: 10px;
        margin-top: 28%;
    }
    
    .monTemplateSpecifiqueId .search-box {
        width: 120px; 
        
    }
    
    .monTemplateSpecifiqueId .search-box input {
        border-radius: 15px; 
        height: 25px;
        border: 0px;
        padding: 5px 10px; 
        width: 100%;
    }
    
    .monTemplateSpecifiqueId .logo {
        position: absolute;
        left: 50%;
        top: -11px;
        text-decoration: none;
    }
    
    .monTemplateSpecifiqueId .logo img{
        max-width: 70px;
    }
    
    .monTemplateSpecifiqueId .logo:hover {
        transform: scale(1.1);
    }

    .monTemplateSpecifiqueId .hamburger-menu {  
        position: absolute;
        left: 89%;
        top: 5px;
        z-index: 1001; 
    }
    
    .monTemplateSpecifiqueId .hamburger-menu img{
        width: 40px;
    }
    
    .monTemplateSpecifiqueId .navbarGR a {
        color: #fff; 
        padding: 0 10px;
        text-decoration: none;
    }
    
    .monTemplateSpecifiqueId .menu {
        display: none;
        position: fixed; 
        margin-top: 35px; 
        right: 4.6%; 
        left: auto;
        width: 200px; 
        height: 413px; 
        background-color: #ffffff; 
        z-index: 1000; 
        text-align: center; 
        border-radius: 10px;
    }
    
    .monTemplateSpecifiqueId .menu a {
        display: block; 
        padding: 20px; 
        border-bottom: 1px solid #ddd; 
        color: #333; 
        text-decoration: none; 
        border-radius: 10px;
    }
    
    .monTemplateSpecifiqueId .menu a:hover {
        background-color: #cecece; 
        border-radius: 10px;
        color: #333; 
    }
    
    .monTemplateSpecifiqueId .menu.show {
        display: block;
    }

    
}


@media (max-width: 500px) {
    .monTemplateSpecifiqueId .menu1{
        display: none;
    }
    .monTemplateSpecifiqueId .menu2{
        display: block;
    }

    .monTemplateSpecifiqueId .navbar {
        position: absolute;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center; 
        background-color: #465257; 
        border-radius: 25px; 
        width: 95%; 
        height: 50px;
        left: 10px;
        top: 15px;
        transition: transform 0.3s;
        z-index: 1000;
    }
    
    .monTemplateSpecifiqueId .search_img {
        width: 30px;
        margin: 10px;
        margin-top: 28%;
    }
    
    .monTemplateSpecifiqueId .search-box {
        width: 120px; 
        
    }
    
    .monTemplateSpecifiqueId .search-box input {
        border-radius: 15px; 
        height: 25px;
        border: 0px;
        padding: 5px 10px; 
        width: 100%;
    }
    
    .monTemplateSpecifiqueId .logo {
        position: absolute;
        left: 60%;
        top: -11px;
        text-decoration: none;
    }
    
    .monTemplateSpecifiqueId .logo img{
        max-width: 70px;
    }
    
    .monTemplateSpecifiqueId .logo:hover {
        transform: scale(1.1);
    }

    .monTemplateSpecifiqueId .hamburger-menu {  
        position: absolute;
        left: 84%;
        top: 5px;
        z-index: 1001; 
    }
    
    .monTemplateSpecifiqueId .hamburger-menu img{
        width: 40px;
    }
    
    .monTemplateSpecifiqueId .navbarGR a {
        color: #fff; 
        padding: 0 10px;
        text-decoration: none;
    }
    
    .monTemplateSpecifiqueId .menu {
        display: none;
        position: fixed; 
        margin-top: 35px; 
        right: 4.6%; 
        left: auto;
        width: 200px; 
        height: 413px; 
        background-color: #ffffff; 
        z-index: 1000; 
        text-align: center; 
        border-radius: 10px;
    }
    
    .monTemplateSpecifiqueId .menu a {
        display: block; 
        padding: 20px; 
        border-bottom: 1px solid #ddd; 
        color: #333; 
        text-decoration: none; 
        border-radius: 10px;
    }
    
    .monTemplateSpecifiqueId .menu a:hover {
        background-color: #cecece; 
        border-radius: 10px;
        color: #333; 
    }
    
    .monTemplateSpecifiqueId .menu.show {
        display: block;
    }
}

.monTemplateSpecifiqueId .navbar.navbar-hidden {
    transform: translateY(-200%);
}
