/*Navbar*/

body {
    background-color: #2A2B34;
}


/*--------------------------navbar-grande------------------------------------------------------------------------------------*/

.navbar {
    position: fixed; /* Fixe la navbar en haut de la page */
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center; 
    background-color: #465257; 
    border-radius: 25px; 
    width: 95%; 
    height: 60px;
    left: 30px;
    top: 15px;
    transition: transform 0.3s;
    z-index: 1000;
}

.loupe {
    width: 40px;
    height: auto;
    margin: 10px;
    margin-top: 25%;
}

.search-box {
    width: 150px; 
    margin-right: 22%;
}

.search-box input {
    border-radius: 15px; 
    height: 25px;
    border: 0px;
    padding: 5px 10px; 
    width: 100%;
}

.menu1 {   
    display: block;  
}

@media (max-width: 2800px) {
    .menu2 {   
        display: none;  
    }

    .page{
        position: absolute;
        right: 6%;
        top: 22px;
        }

    .coeur {
        position: absolute;
        width: 30px;
        top: 17px;
        right: 2%;
        
    }
        
    .navbar a {
        color: #fff; 
        padding: 0 10px;
        text-decoration: none;
    }
        
    .navbar a:hover {
        transition: 0.3s;
        color: #7fb7f8; 
    }

    .logo {
        position: absolute;
        left: 43%;
        top: -6px;
        text-decoration: none;
    }
    
    .logo img{
        max-width: 150px;
    }
    
    .logo:hover {
        transform: scale(1.1);
    }
    
}

@media (max-width: 1100px) {
    .menu1{
        display: none;
    }
    .menu2{
        display: block;
    }
    
    .logo {
        position: absolute;
        left: 44.5%;
        top: -10px;
        text-decoration: none;
    }
    
    .logo img{
        max-width: 75px;
    }
    
    .logo:hover {
        transform: scale(1.1);
    }

    .hamburger-menu {  
        position: absolute;
        left: 92%;
        top: 0%;
        top: 7px;
        z-index: 1001; 
    }
    
    .hamburger-menu img{
        width: 45px;
    }
    
    .navbarGR a {
        color: #fff; 
        padding: 0 10px;
        text-decoration: none;
    }
    
    .menu {
        display: none;
        position: fixed; 
        margin-top: 35px; 
        right: 4.6%; 
        left: auto;
        width: 200px; 
        height: 355px; 
        background-color: #ffffff; 
        z-index: 1000; 
        text-align: center; 
        border-radius: 10px;
    }
    
    .menu a {
        display: block; 
        padding: 20px; 
        border-bottom: 1px solid #ddd; 
        color: #333; 
        text-decoration: none; 
        border-radius: 10px;
    }
    
    .menu a:hover {
        background-color: #cecece; 
        border-radius: 10px;
        color: #333; 
    }
    
    .menu.show {
        display: block;
    }

    
}

@media (max-width: 800px) {
    .menu1{
        display: none;
    }
    .menu2{
        display: block;
    }

    .navbar {
        position: absolute;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center; 
        background-color: #465257; 
        border-radius: 25px; 
        width: 95%; 
        height: 50px;
        left: 10px;
        top: 15px;
        transition: transform 0.3s;
        z-index: 1000;
    }
    
    .loupe {
        width: 30px;
        margin: 10px;
        margin-top: 28%;
    }
    
    .search-box {
        width: 120px; 
        
    }
    
    .search-box input {
        border-radius: 15px; 
        height: 25px;
        border: 0px;
        padding: 5px 10px; 
        width: 100%;
    }
    
    .logo {
        position: absolute;
        left: 42.5%;
        top: -11px;
        text-decoration: none;
    }
    
    .logo img{
        max-width: 70px;
    }
    
    .logo:hover {
        transform: scale(1.1);
    }

    .hamburger-menu {  
        position: absolute;
        left: 89%;
        top: 5px;
        z-index: 1001; 
    }
    
    .hamburger-menu img{
        width: 40px;
    }
    
    .navbarGR a {
        color: #fff; 
        padding: 0 10px;
        text-decoration: none;
    }
    
    .menu {
        display: none;
        position: fixed; 
        margin-top: 35px; 
        right: 4.6%; 
        left: auto;
        width: 200px; 
        height: 295px; 
        background-color: #ffffff; 
        z-index: 1000; 
        text-align: center; 
        border-radius: 10px;
    }
    
    .menu a {
        display: block; 
        padding: 20px; 
        border-bottom: 1px solid #ddd; 
        color: #333; 
        text-decoration: none; 
        border-radius: 10px;
    }
    
    .menu a:hover {
        background-color: #cecece; 
        border-radius: 10px;
        color: #333; 
    }
    
    .menu.show {
        display: block;
    }

    
}


@media (max-width: 500px) {
    .menu1{
        display: none;
    }
    .menu2{
        display: block;
    }

    .navbar {
        position: absolute;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center; 
        background-color: #465257; 
        border-radius: 25px; 
        width: 95%; 
        height: 50px;
        left: 10px;
        top: 15px;
        transition: transform 0.3s;
        z-index: 1000;
    }
    
    .loupe {
        width: 30px;
        margin: 10px;
        margin-top: 28%;
    }
    
    .search-box {
        width: 120px; 
        
    }
    
    .search-box input {
        border-radius: 15px; 
        height: 25px;
        border: 0px;
        padding: 5px 10px; 
        width: 100%;
    }
    
    .logo {
        position: absolute;
        left: 40%;
        top: -11px;
        text-decoration: none;
    }
    
    .logo img{
        max-width: 70px;
    }
    
    .logo:hover {
        transform: scale(1.1);
    }

    .hamburger-menu {  
        position: absolute;
        left: 84%;
        top: 5px;
        z-index: 1001; 
    }
    
    .hamburger-menu img{
        width: 40px;
    }
    
    .navbarGR a {
        color: #fff; 
        padding: 0 10px;
        text-decoration: none;
    }
    
    .menu {
        display: none;
        position: fixed; 
        margin-top: 35px; 
        right: 4.6%; 
        left: auto;
        width: 200px; 
        height: 295px; 
        background-color: #ffffff; 
        z-index: 1000; 
        text-align: center; 
        border-radius: 10px;
    }
    
    .menu a {
        display: block; 
        padding: 20px; 
        border-bottom: 1px solid #ddd; 
        color: #333; 
        text-decoration: none; 
        border-radius: 10px;
    }
    
    .menu a:hover {
        background-color: #cecece; 
        border-radius: 10px;
        color: #333; 
    }
    
    .menu.show {
        display: block;
    }
}

.navbar.navbar-hidden {
    transform: translateY(-200%); /* Ajustez si nécessaire selon la hauteur de votre navbar */
}

/*Sélecteur*/

body {
    background-color: rgb(42, 43, 52);
    overflow: hidden;
}


/*Classes Img & Shapes*/

.background-img-green {
    position: absolute;
    width: 44%;
    height: 76%;
    top: 35%;
    left: 71%;
}

.select-form{
    position: absolute;
    left: 2%;
    top: 4%;
    width: 17.5vw;
    height: 4vw;
    border: 8px solid rgba(214, 207, 207, 0.5);
    border-radius: 2px;
    background-color: whitesmoke;    
}

.background-img-hub {
    padding-top: 2.5% ;
    width: 15%;
    height: 15%;
    padding-left: 7% ;
}

.background-img-turn{
    display: none;
    position: absolute;
    top: 4.7%;
    left: 37%;
    width: 25%;
    height: 90%;
}

.fieldset-1 {
    position: absolute;
    border: 2px solid rgba(214, 207, 207, 0.5);
    height: 85%;
    width: 92.5%;
    left: 2.5%;
    top: 5%;
    border-radius: 5px;
    background-color: whitesmoke;
    clip-path: polygon(22.75% 0, 100% 0, 100% 100%, 0 100%, 0 17%, 22.75% 17%);
}

.button, .button2, .button3 {
    position: absolute;
    width:33%;
    top: -1%;
    height:75%;
    border: 1.5px solid black;
    border-radius: 0%;
    font-weight:bold;
}

button:hover{
    background-color:rgba(113, 194, 133,0.15);
}

.button {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.button2 {
    left: 34.75%;
}

.button3 {
    left: 68.25%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.fieldset-button {
    position: absolute;
    top: 77.5%;
    left: 10%;
    width: 75%;
    height: 15%;
    border: none;
}

.green-box {
    background-color: rgba(113, 194, 133,0.15);
    position: absolute;
    height: 75%;
    width: 87.5%;
    top : 20%;
    left: 7%;
    border-radius: 15px;
    box-shadow: 0.40vw 0.40vw 0.64vw rgba(0, 0, 0, 0.35);
}
  
/*Text only*/

.text-title{
    color: black;
    font-family: "Arial", "Arial Normal", sans-serif;
    font-size:150%;
    position: absolute;
    top: 3%;
    left:26.5%;
    margin-bottom: 5%;
}

.text-subtitle{
    position: relative;
    color: grey;
    font-size: 100%;
    font-family: "Arial", "Arial Normal", sans-serif;
    padding-left:26.30%;
    padding-top: 4.25%;
    padding-right:1%;
}


.text-data{
    color: black;
    font-size: small;
    font-family: "Arial", "Arial Normal", sans-serif;
    padding-left:2.5%;
    margin-bottom: 2.5%;
    margin-top: 7%;
}

.text-fieldset{
    font-size: small;
    font-family: "Arial", "Arial Normal", sans-serif;
    margin: auto;
    margin-right: 1%;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgba(238, 238, 238, 1);
    outline: none;
    overflow: auto;
}

.fieldset-text {
    background-color: rgba(238, 238, 238, 1);
    border: 1.5px solid #000000;
    border-radius: 10px;
    width: 100%;
    margin-bottom:-2%;
}

/*  */

.flex-container, .flex-container-1 {
    display: flex;
    justify-content: space-between;
    margin-left: 5.5%;
    width: 18%;  
    margin-top: 0.5%;  
}

.flex-container:nth-child(3n) {
    margin-left: 5.5%;
}

.flex-container-1:nth-child(1n) {
    margin-left: 11.9%;
}

.flex-alignement {
    display: flex;
    flex-wrap:wrap;
}

/*  */


/*Media Queries*/
/*FullScreen*/

@media (display-mode: fullscreen) {
    .flex-container, .flex-container-1{
        margin-top: 3.5%;
    }
}

@media screen and (max-width:1200px) {
    .background-img-green{
        display: none;
    }


    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .text-title{
        margin-top: 0.5%;
    }

    .text-subtitle {
        margin-top: 4.5%;
        margin-left: -0.25%;
    }

    .green-box {
        height: 190%;

    }

    .flex-alignement{
        flex-direction: column;
    }

    .flex-container {
        margin-left: 19%;
    }

    .select-form {
        height: 45px;
    }

    .fieldset-text {
        position: relative;
        width: 275%;
    }
    .fieldset-1 {
        height: 88%;
        clip-path: polygon(23% 0, 100% 0, 100% 100%, 0 100%, 0 5.5%, 23% 5.5%);
    }

    .button, .button2, .button3 {
        height: 40%;
        top: 60%;
    }

    .flex-container:nth-child(3n) {
        margin-left: 19%;
    }
    
    .flex-container-1:nth-child(1n) {
        margin-left: 20%;
    }


    .button2 {
        left: 35%;
    }
} 

@media screen and (max-width:1000px) {

    .fieldset-1 {
        clip-path: none;
        height: 90%;
        width: 89.5%;
    }

    .text-title {
        margin-left: -9%;
        margin-top: 7%;
    }

    .select-form {
        align-items: center;
        margin-top: -2%;
        margin-left: 22%;
        z-index: 1;
        width: 50%;
        height: 8vw;
    }
    .fieldset-text{
        width: 180%;

    }

    .text-data{
        position: relative;
        ;
    }


    .flex-alignement {
        margin-top: 20%;
        margin-left: 6%;
    }

    .text-subtitle {
        display: none;
    }

    .button {
        left: 1.5%;
    }

}

@media screen and (max-width:900px) {
    .text-title {
        margin-left: -14%;
    }
}

@media screen and (max-width:500px) {
    .fieldset-1 {
        width: 87%;
    }
}

/*Laptop*/

