body {
    background-color: #2A2B34;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    margin: 0;
    padding :0;
}

h1 {color : white;}
h2 {color : white; margin-left : 0px;}
h3 {color : white; margin-left : 3%;}
label {color : white;}

div {
    overflow: hidden;
    background-color: rgba(85, 105, 159, 0.7);
    border-radius: 25px;
    display: flex;
    align-items: center;
    text-align : left;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    z-index: 1;   
}

.container {
    display: flex;
    background-color : rgba(0, 0, 0, 0);
    border-radius: 0px;
    border : 0px;
    margin: 0 auto;
    width : 92%;
    position: relative;
}


.section1, .section2 {
    width: 48%;
    float: left;
    margin-right: 2%;
    padding: 20px;
    box-sizing: border-box;
}
  
.section2 {
    margin-right: 0;
}


.proposition {
    justify-content: space-between;
    display: flex;
}

.text-proposition,
.img-proposition {
    flex: 1;
    padding: 1px; 
    box-sizing: border-box;
}









.logo1 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-right : auto;
}






.contact{
    margin-left: 2.5%;
}





.div-bottom {
    background-color: rgba(113, 194, 133, 0.8);
    border-radius: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    z-index : 1;
    width : 93%;
}






.div-bottom section {
    flex: 1;
}


.div-bottom .section3 {
    margin-right: 20px;
}

.div-bottom h2,
.div-bottom label {
    text-align: left;
    margin-right: 20px;
}


.div-bottom section {
    display: flex;
    flex-direction: column;
}

.div-bottom section h2,
.div-bottom section label {
    margin-bottom: 10px;
}

.profil {
    width: 25%;
    height : 25%;
    margin-left: auto;
    border-radius: 100%;
}

















































body {
    font-family: Arial, sans-serif;
    background-color: #2A2B34 ;

}

.navbar {
    display: flex;
    align-items: center; 
    background-color: #465257; 
    border-radius: 15px; 
    width: 95%; 
    height: 60px; 
    margin-left: 2%;
    margin-top: 2%;
}

.loupe {
    width: 80%; 
    height: 80%;
    margin-top: 10%;
}

.search-box {
    margin-top: 2.2%;
    margin-left: 0%;
    height: 70px;

}

.search-box input{
    border-radius: 15px; 
    height: 30%; 
    border: 0px;
    padding: 5px 10px; 

}

.logo {
    display: flex;
    max-width: 15%; 
    margin-left: 55%;
}

.logo:hover {
    transform: scale(1.1);
}

.coeur {
    width: 25%; 
    margin-top: 5%;

}

.navbar a {
    color: #fff; 
    padding: 1% 1%; 
    text-decoration: none;
}

.navbar a:hover {
    transition: background-color 0.3s;
    color: #7fb7f8; 
}