body {
    background-color: hsl(234, 11%, 18%);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

section {

    width: 20%;
    text-align: center;
    border: 1px solid red;
}

h1 {
    color : white;
    margin-top : 5%;
    margin-left : 8%;
}

h2 {
    font-size : 2em;
    margin-top : 0%;
}

.resize {

    margin-left: 2%;
    margin-right: 2%;
}

.info {
    color : rgb(110, 110, 110);
    font-size : 1em;
    margin-top : 5%;
}


.image-company {
    margin-top: 30%;
    width:80%;

}

.container {
    text-align: center;
}

.slide{
   padding-top: 80px;
   padding-bottom: 80px;
    display: flex;
    overflow:scroll;
    scroll-behavior: smooth;
}
.ensemble-fleche{
    width:90%;
    min-width: 90%;
    display: flex;
    margin: auto;
}

::-webkit-scrollbar{
    display: none;
}

.card{
background-color:  rgb(138, 138, 138);
border-radius: 20px;
width:300px;
height: 500px;
min-width:300px;
min-height:400px;
transition-duration: 1000ms;
margin: 25px;
z-index: 1;
box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.312);
text-align: center;
}

@media (max-width: 700px) {
    h1 {
        font-size : 2em;
    }
    
    .card {
        width: 40%;
        height: 70%;
    }
}

.img-svg1 {
    margin-right : 3%;
}

.img-svg2 {
    margin-left: 3%;
}