body {
    background-color: #2A2B34;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.principal-frame {
    background-color : white;
    border-radius: 10px;
    width: 80%;
    height: 70%;
}

img {
    resize: 10%;
}