body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #2A2B34;
}

h1 {
    color: whitesmoke;
}

.table-stats {
    position: flex;
    margin-top: 4%;
    margin-left: 23%;
    border-radius: 20px;
    width: 52%;
    border-color: whitesmoke;
}

.table-stats, .table-stats th, .table-stats td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

.table-stats th {
    background-color: #4c78af;
    color: white;
}

.table-stats tr:nth-child(even) {
    background-color: #f2f2f2;
}

.contaigner{
    background-color: whitesmoke;
    width: 80%;
    border-radius: 20px;
    display:block;
    margin-left: 10%;
    border-color: whitesmoke;
}   
.contaigner label{
    margin-left: 30%;
}