body{
    background-color: #2A2B34;
    color: azure;
    font-family: Helvetica;
}

.navbar {
  display: flex;
  align-items: center; 
  background-color: #465257; 
  border-radius: 25px; 
  width: 95%; 
  height: 60px;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.loupe {
  width: 40px;
  height: auto;
  margin: 10px;
  margin-top: 25%;
}

.search-box {
  width: 20%; 
  margin-right: 22%;
}

.search-box input {
  border-radius: 15px; 
  height: 25px;
  border: 0px;
  padding: 5px 10px; 
  width: 100%;
}

.logo {
  max-width: 130px;
  margin-left: -2%;
  margin-right:auto;
  margin-top: 7%;
}

.page{
margin-right: 0%;
margin-left: auto;
margin-top: 0.2%;
}


.logo:hover {
  transform: scale(1.1);
}

.coeur {
  width: 35px;
  margin-top: 20%;
}

.navbar a {
  color: #fff; 
  padding: 0 10px;
  text-decoration: none;
}

.navbar a:hover {
  transition: background-color 0.3s;
  color: #7fb7f8; 
}
  
  .fieldset-left{
    background-color: whitesmoke;
    border: 1px solid #465257;
    border-radius: 20px; 
    display: flex;
    flex-wrap: wrap;
    gap: 2%; 
    padding-left: 4%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .profil_photo{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 200px; /* Optionnel: Hauteur du conteneur */
    margin-left: 37.5%;
    margin-top: 3%;
    margin-bottom: 6%;
    border-radius: 50%;
    transition: all 0.6s ease; 
  }

  .form-group {
    width: 48%;
    margin-bottom: 3%;
    margin-left: 8px;
  }

  .form-group label {
    display: block; 
    margin-bottom: 1%; 
    color: black; 
    font-size: 80%;
  } 
  
  .form-group input {
    width: 80%;  
    padding: 5%; 
    border: 1px solid #ccc; 
    border-radius: 7px;  
  }

.click-box:hover{
  padding: 1%;
}

.click-box img {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 15px; 
    right: 4%;
    margin-top: 0.8%;
}
  
    .custom-button {
        margin-top: 7%;
        margin-bottom: 4%;
        margin-left: 23%;
        width: 50%; 
        color: black; 
        border: 2px solid white;
        background-color: white; 
        padding: 2%; 
        font-size: 100%; 
        border-radius: 5px; 
        cursor: pointer; 
        transition: all 0.3s ease; 
    }
    
    .custom-button:hover {
        background-color: grey; 
        border-color: grey;
        padding: 2%;
    }

    .bouton-actif {
        background-color: green;
        color: white;
      }
      
      .champs-desactives {
        background-color: #ccc;
      }
      

    /* Pour les tablettes en mode portrait et paysage */

    @media screen and (min-width: 280px) and (max-width: 476px) {

        .profil_photo{
            height: 120px; /* Optionnel: Hauteur du conteneur */
            margin-left: 20.5%;
            margin-bottom: 10%;
            transition: all 0.6s ease; 
        }
    }
    
 
    @media screen and (min-width: 476px) and (max-width: 610px) {

    .profil_photo{
        height: 120px; /* Optionnel: Hauteur du conteneur */
        margin-left: 21.5%;
        margin-bottom: 10%;
        transition: all 0.6s ease; 
    }
    
  }  
  
  @media screen and (min-width: 610px) and (max-width: 810px) {

    .profil_photo{
        height: 140px; /* Optionnel: Hauteur du conteneur */
        margin-left: 24.5%;
        margin-bottom: 10%;
        transition: all 0.6s ease; 
    }
    
  }  
  @media screen and (min-width: 810px) and (max-width: 900px) {

    .profil_photo{
        height: 160px; /* Optionnel: Hauteur du conteneur */
        margin-left: 24.5%;
        margin-bottom: 10%;
        transition: all 0.6s ease; 
    }
    
  }  

  @media screen and (min-width: 900px) and (max-width: 1010px) {

    .profil_photo{
        height: 160px; /* Optionnel: Hauteur du conteneur */
        margin-left: 35.5%;
        transition: all 0.6s ease; 
    }
    
  }  

  @media screen and (min-width: 900px) and (max-width: 1086px) {

    .profil_photo{
        height: 160px; /* Optionnel: Hauteur du conteneur */
        margin-left: 36.5%;
        transition: all 0.6s ease; 
    }
    
  }  
  @media screen and (min-width: 1086px) and (max-width: 1186px) {

    .profil_photo{
        height: 180px; /* Optionnel: Hauteur du conteneur */
        margin-left: 37.5%;
        transition: all 0.6s ease; 
    }
  }  
  @media screen and (min-width: 1186px) and (max-width: 1286px) {

    .profil_photo{
        height: 200px; /* Optionnel: Hauteur du conteneur */
        margin-left: 37.5%;
        transition: all 0.6s ease; 
    }
  }  
@media screen and (min-width: 280px) and (max-width: 900px) {

    .navbar {
      margin-bottom: 2%;
    }
  
    .form-group {
      width: 80%;
      margin-bottom: 6%;
    }
  
    .fieldset-left{
      padding-left: 14%;
    }
    .custom-button {
      margin-bottom: 5%;
      margin-left: 13%;
  }
  }

  @media screen and (min-width: 900px) and (max-width: 1086px) {
    
    .fieldset-left{
      padding-left: 5%;
    }

  .form-group {
    width: 46%;
    transition: all 0.8s ease; 
  } 
}