body{
    background-color: #2A2B34;
    color: azure;
    font-family: Helvetica;
    overflow: auto;
}


.flex-container {
  display: flex;
  justify-content: space-between; 
  margin-top: 130px;
  min-height: 80vh;
}

.fieldset-left, .fieldset-right {
    flex: 1;
    margin: 0 1%; 
}

.fieldset-left{
    background-color: #465257;
    border: 1px solid #465257;
    border-radius: 8px; 
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 2%;
}

.fieldset-right{
    background-color: #2A2B34;
    border: 1px solid #2A2B34;
}
 
.legend-right{
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 120%;
}

.legend-left{
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 150%;
}
  
.form-group {
    width: 48%;
    margin-bottom: 1%;
}

.form-group label {
    display: block; 
    margin-bottom: 1%; 
    color: white; 
    font-size: 80%;
} 
  
.form-group input {
    width: 80%;  
    padding: 5%; 
    border: 1px solid #ccc; 
    border-radius: 7px;  
}

.click-box {
    background-color: #39415A;
    border: 1px solid #596469;
    margin-bottom: 4%;
    border-radius: 15px; 
    padding-left: 3%; 
    line-height: 350%; 
    cursor: pointer;
    transition: all 0.3s ease;
    
    display: flex;
    justify-content: space-between;
    align-items: left;
  }

.click-box:hover{
  padding: 1%;
  cursor: pointer; 
  
}

.click-box img {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 15px; 
    right: 4%;
    margin-top: 0.8%;
}
  
.custom-button {
  margin-top: 8%;
  width: 100%; 
  color: black; 
  border: 2px solid white;
  background-color: white; 
  font-size: 100%; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}
    
.custom-button:hover {
  background-color: grey; 
  border-color: grey;
}

a, .Legend-Pagination {
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}

.active {
  color : grey;
}

.pagination {
  margin-top:3%;
}

.Legend-Pagination {
  font-size: 0.8em;
}

.small-label {
  font-size: 17px;
}

.info-company {
  display: flex;
  flex-direction: column;
}

.info-company label,
.info-company .description {
  margin-bottom: 5px;
  line-height: 1.2;
}

.description {
  font-size : 0.8em;
}

.img {
  max-width: 100px; /* Ajustez cette valeur en fonction de la taille souhaitée pour l'image */
  height: auto;
  border : 1px solid white;
}

@media screen and (max-width: 1024px) {

  body{
    overflow: auto;
  }

  .flex-container {
    flex-direction: column; 
  }

  .fieldset-left{
    background-color: #465257;
    border-radius: 8px; 
    margin-bottom: 2%;
    height: 80vh;
  }

  .fieldset-right{
    background-color: #2A2B34;
  }
 
  .legend-right{
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 120%;
  }

  .legend-left{
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 150%;
  }
  
  .form-group {
    width: 48%;
    margin-bottom: 1%;
  }

  .form-group label {
    display: block; 
    margin-bottom: 1%; 
    color: white; 
    font-size: 80%;
  } 
  
  .form-group input {
    width: 80%;  
    padding: 2%; 
    border: 1px solid #ccc; 
    border-radius: 7px;  
  }


.click-box {
    background-color: #39415A;
    border: 1px solid #596469;
    margin-bottom: 4%;
    border-radius: 15px; 
    padding-left: 3%; 
    line-height: 350%; 
    cursor: pointer; 
}


.click-box img {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 15px; 
    right: 4%;
    margin-top: 0.8%;
}
  
    .custom-button {
        margin-top: 4%;
        width: 100%; 
        color: black; 
        border: 2px solid white;
        background-color: white; 
        padding: 2%; 
        font-size: 80%; 
        border-radius: 5px; 
        cursor: pointer; 
        transition: all 0.3s ease; 
    }
    
    .custom-button:hover {
        background-color: grey; 
        border-color: grey;
    }
}
   